<h1>GeekTwitter</h1>
<h3>投稿詳細</h3>
<div class="tweet">
  <p><%= @tweet.body %></p>
  <p><%= @tweet.created_at %></p>

  <% if user_signed_in? %>
  <% if current_user.already_liked?(@tweet) %>
    <%= link_to tweet_like_path(@tweet),  data: { turbo_method: :delete } do %>
      <i class="fas fa-heart"></i><%= @tweet.likes.count %>
    <% end %>
  <% else %>
    <%= link_to tweet_likes_path(@tweet),  data: { turbo_method: :post } do %>
      <i class="far fa-heart"></i><%= @tweet.likes.count %>
    <% end %>
  <% end %>
<% else %>
  <i class="far fa-heart"></i><%= @tweet.likes.count %>
<% end %>
  </div>

<%= link_to "投稿一覧に戻る", tweets_path %>
<%= link_to "編集する", edit_tweet_path(@tweet.id) %>

<div id='map'></div>

<style>
#map {
  height: 300px;
  width: 50%;
}
</style>

<!-- js部分 -->
<script>
//初期マップの設定

let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: <%= @tweet.lat %>, lng: <%= @tweet.lng %>},
    zoom: 7,
  });

   marker = new google.maps.Marker({
    position:  {lat: <%= @tweet.lat %>, lng: <%= @tweet.lng %>},
    map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAP_API']%>&callback=initMap" async defer></script>
