<div class="mypage">
 <h2>マイページ</h2>
 <p>アカウント名 : <%= @user.name %></p>
 <p>メールアドレス : <%= @user.email %></p>
 <p>プロフィール : <%= @user.profile %></p>
  <% if @user.image.attached? %>
     <%= image_tag  @user.image, size: '60x60'%>
  <% end %>
  <br>


  <% if current_user.id == @user.id %>
    <%= link_to "編集する", edit_user_registration_path %>
  <% end %><br><br>

  <h3>あなたの投稿</h3>
</div>

        <div class="tweets-container">
          <% @user.tweets.each do |t| %>
            <div class="tweet">
              <div class="tweet-data">
                  <% if t.user.image.attached? %>
                  <%= image_tag  t.user.image, size: '20x20'%>
                  <% end %>
                  <%= t.user.name %>
                  <br>
              </div>

              <% if t.image.attached? %>
                <%= link_to tweet_path(t.id) do %>
                
                  <%= image_tag t.image, size: '250x250',class:"tweet-image"%><br>
                <% end %> 
              <% end %>
              <div class="tweet-data">
              <%= t.name %><br>
              <%= t.price %>円<br>
              
              <% if user_signed_in? %>
              <% if current_user.already_liked?(t) %>
                  <%= link_to tweet_like_path(id: t.id, tweet_id: t.id),  data: { turbo_method: :delete } do %>
                      <i class="fas fa-heart"></i><%= t.likes.count %>
                  <% end %>
              <% else %>
                  <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id),  data: { turbo_method: :post } do %>
                      <i class="far fa-heart"></i><%= t.likes.count %>
                  <% end %>
              <% end %>
          <% else %>
              <i class="far fa-heart"></i><%= t.likes.count %>
          <% end %>
          </div>

          </div>
          <% end %>
        </div>

<!-- 以下はいいね機能を実装している場合-->
<div class="mypage">
<br>
<h3>あなたがいいねした投稿</h3>
<% @user.liked_tweets.each do |t| %>
  <%= t.user.name %>
  <%= t.body %>
<% end %>
<!-- ここまで-->

<%= link_to "投稿一覧に戻る", tweets_path %>

<br>
<br>
<br>
<br>
<br>
</div>