<!DOCTYPE html>
<html>
  <head>
    <title>Icecream2</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Yeseva+One&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDGothic&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/17567cfc3e.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>Ice Cream Diary</h1>
      <div class="header-btn">
        <%= link_to "投稿一覧", tweets_path %>
        <%= link_to "新規投稿", new_tweet_path %>
        <%if user_signed_in?%>
          <%= link_to "マイページ", user_path(current_user.id) %>
          <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %>
        <%else%>
          <%= link_to "ログイン", new_user_session_path %>
          <%= link_to "新規登録", new_user_registration_path %>
        <%end%>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
